<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="el : ${post}">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.anons}"></p>
        <p th:text="${el.full_text}"></p>
        <p th:text="${el.author}"></p>
        <a th:href="'/blog/' + ${el.id} + '/edit'">Редактировать</a>
        <form th:action="'/blog/' + ${el.id} + '/delete'" method="post">
            <button type="submit">Удалить</button>
        </form>
    </div>
</body>
</html>